<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Signin Template for Bootstrap</title>
		<!-- Bootstrap core CSS -->
		<link href="../asserts/css/bootstrap.min.css" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="../asserts/css/signin.css" rel="stylesheet">
		<style>
			body{background-image:url(../asserts/img/01.jpeg);
				background-size: cover;
				background-position:center;}
		</style>
	</head>

	<body class="text-center">
		 <form class="form-signin" action="">
			<img class="mb-4" src="asserts/img/bootstrap-solid.svg" alt="" width="72" height="72">
			<h1 class="h3 mb-3 font-weight-normal">刷脸登录</h1>
			<label class="sr-only">Username</label>
			<input type="text" class="form-control" placeholder="Username" required="" autofocus="">
			<label class="sr-only">Password</label>
			<input type="password" class="form-control" placeholder="Password" required="">
			<div class="checkbox mb-3">
				<label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
			</div>
			<a href="/login/jumpGetface"><button class="btn btn-lg btn-primary btn-block" id="faceloginpage" type="button">刷脸登录</button></a></p>
			<a href="/login/jumpregisterface" style="margin-top: 50px;"><button class="btn btn-lg btn-primary btn-block" id="faceregisterpage" type="button">人脸注册</button></a>
			<p class="mt-5 mb-3 text-muted">© 2021-計算機科學與技術2班</p>
			<a class="btn btn-sm">中文</a>
			<a class="btn btn-sm">English</a>
		</form>

	</body>

</html>